﻿<div ng-controller="mainController as main">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#logon">Logon</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>


    <div ng-view></div>
    <hr />

    <pre>$location.path() = {{main.$location.path()}}</pre>
    <pre>$route.current.templateUrl = {{main.$route.current.templateUrl}}</pre>
    <pre>$route.current.params = {{main.$route.current.params}}</pre>
    <pre>$routeParams = {{main.$routeParams}}</pre>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/app")
}
